/* Fonts:
    font-family: 'Akronim', cursive;
    font-family: 'Barrio', cursive;
*/

h1 {
    font-family: 'Akronim', cursive;
    font-size: 65px;
    text-align: center;
}

/* .center {
    text-align: center;
} */

h2,
h3 {
    font-family: 'Barrio', cursive;
}